<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	 <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hi <%= @user.first_name %>,Your order has been placed!</h1>
</body>
</html>